* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

table {
    background-color: red;
    cursor: pointer;
    margin: auto;
}

td {
    background-color: yellow;
    font-family: monospace;
    font-size: 48px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 48px;
}
#restart {
    display: block;
    margin: 30px auto;
    width: 200px;
}

#indicator {
    text-align: center;
}