* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board {
    border-collapse: collapse; 
    margin: 100px auto 0;
}
.board td {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.board td:hover {
    background-color: gray;
}